// Media breakpoints //
$media-offset: 3;

// width breakpoints
$bp-dt-large: 2560 - $media-offset;
$bp-dt-medium: 1920 - $media-offset;
$bp-dt-small: 1440 - $media-offset;
$bp-tablet: 1280 - $media-offset;
$bp-mobile: 768 - $media-offset;
$bp-mobile-small: 390 - $media-offset;

// height breakpoints
$hbp-mobile: 1024 - $media-offset;
