// Colors //

body {
  // theme-default
  --color-white: #fff;
  --color-background: #f4f5f9;
  --color-primary: #42567a;
  --color-primary-alpha: #42567a77;
  --color-primary-alpha2: #42567aff; // 33
  --color-accent: #3877ee;
  --color-accent2: #5d5fef;
  --color-accent3: #ef5da8;
}
