// Global elements //

@import "/src/styles/variables.scss";

html {
  font-size: 16px;
  @media (max-height: (1080px)) {
    font-size: resize-multiplier(16, 1080, 1, 100vh);
  }
  @media (max-width: ($bp-mobile+px)) {
    font-size: 16px;
  }
}
body {
  font-family: var(--font-main);
  font-size: inherit;
  background-color: var(--color-background);
  color: var(--color-primary);
  fill: var(--color-primary);
}
