@use "sass:math";

// Mixins //
@mixin text-nowrap() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin text-max-lines($lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
}

// Functions //
@function em($px, $context: 16) {
  @return math.div($px, $context) * 1em;
}
@function rem($px, $context: 16) {
  @return math.div($px, $context) * 1rem;
}
