@import "/src/styles/variables.scss";

.wrapper {
  position: relative;
  width: 200vw;
  height: 200vh;
  user-select: none;
  @media (max-width: ($bp-mobile+px)) {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    background: var(--color-primary-alpha2);
    @media (max-width: ($bp-mobile+px)) {
      display: none;
    }
  }
  // horizontal line
  &:before {
    top: 50%;
    left: 0;
    width: 100%;
    height: em(1);
  }
  // vertical line
  &:after {
    top: 0;
    left: 50%;
    width: em(1);
    height: 100%;
  }
}
.wheel {
  position: absolute;
  top: calc(50% - em(265));
  left: calc(50% - em(265));
  z-index: 2;
  width: em(530);
  height: em(530);
  border-radius: 50%;
  border: solid em(1) var(--color-primary-alpha2);
  transition: transform $timer-animation;
  @media (max-width: ($bp-mobile+px)) {
    display: none;
  }
}
.wheelSpoke {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
}
.wheelButton {
  font-size: 1em;
  position: relative;
  width: em(56);
  height: em(56);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  transition: transform $timer-animation;

  position: absolute;
  top: em(-28);
  left: em(-28);
  &:nth-child(2) {
    left: auto;
    right: em(-28);
  }
  &.active {
    pointer-events: none;
  }
}
.wheelButtonInner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  background-color: var(--color-primary);
  border-radius: 50%;
  border: solid em(3) var(--color-primary);
  transition: all $timer-hover;
  span {
    font-size: em(20);
    opacity: 0;
    visibility: hidden;
    transition: all $timer-hover;
  }
  .wheelButton:hover &,
  .wheelButton.active & {
    width: em(56);
    height: em(56);
    background-color: var(--color-background);
    border-width: em(1);
    border-color: var(--color-primary-alpha);
    span {
      opacity: 1;
      visibility: visible;
    }
  }
}
.wheelButtonText {
  position: absolute;
  top: calc(50% - em(10));
  left: calc(100% + em(20));
  font-size: em(20);
  line-height: em(20);
  font-weight: 700;
  opacity: 0;
  visibility: hidden;
  transition: all $timer-hover;
  span {
    opacity: 0;
    visibility: hidden;
    transition: opacity $timer-hover, visibility $timer-hover;
    transition-delay: $timer-animation;
  }
  .wheelButton.active &,
  .wheelButton.active & span {
    opacity: 1;
    visibility: visible;
  }
}

.counters {
  position: absolute;
  top: calc(50% - em(100));
  left: calc(50% - em(500));
  display: inline-flex;
  justify-content: space-between;
  width: em(960);
  line-height: em(200);
  letter-spacing: em(-5);
  user-select: none;
  & > * {
    font-size: em(200);
    font-weight: 700;
    &:first-child {
      color: var(--color-accent2);
    }
    &:last-child {
      color: var(--color-accent3);
    }
  }
  @media (max-width: ($bp-mobile+px)) {
    position: static;
    width: em(273);
    line-height: em(56);
    letter-spacing: em(-2);
    & > * {
      font-size: em(56);
    }
  }
}
