@import "/src/styles/variables.scss";

.sliderWrapper {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: opacity $timer-slider-fade;
  &.faded {
    opacity: 0;
  }
}
swiper-container {
  position: relative;
  width: calc(100% - 120px);
}
swiper-slide {
  width: 320px !important;
  cursor: pointer;
}
.slideTitle {
  font-family: var(--font-secondary);
  font-size: 25px;
  color: var(--color-accent);
}
.slideText {
  margin-top: 15px;
  font-size: 20px;
  line-height: 1.5;
}
.sliderPrevBtn,
.sliderNextBtn {
  flex-shrink: 0;
  &.sliderBtnInactive {
    opacity: 0;
    visibility: hidden;
  }
}
.sliderNextBtn {
  transform: rotate(180deg);
}
